<h1>About this app</h1> 
<h6>powered by: McBauer Labs</h6>
<p>I am working on my One Month Rails Pinteresting app!</p>
<p><BLOCKQUOTE><b>The Goal:</b> <code> to teach myself Ruby on Rails by December 31, 2015.</code></BLOCKQUOTE></p>
<p><BLOCKQUOTE><b>The Outcome:</b><CODE> build a functioning and live web application by end of Day December 31, 2015 that is a pinterest clone</CODE></BLOCKQUOTE></p>
<p>Y'all keep coming back to ckeck in on the progress. It will be slow, but steady for sure.</p>
<p>Cheers!</p>
<p><applet>Marty</applet>
<code>Bauer</code></p>
<p></p>
<p><CENTER><button><big>Click here to have your mind BLOWN!</big></button></CENTER></p>