<h1>About this app</h1> 
<h5>powered by: McBauer Labs</h5>
<p>I am working on my One Month Rails Pinteresting app!</p>
<p><BLOCKQUOTE><b>The Goal:</b> teach myself Ruby on Rails by December 31, 2015.</BLOCKQUOTE></p>
<p><BLOCKQUOTE><b>The Outcome:</b> build a functioning and live web application by end of Day December 31, 2015 that is a pinterest clone</BLOCKQUOTE></p>
<p>Y'all keep coming back to ckeck in on the progress. It will be slow, but steady for sure.</p>
<p>Cheers!</p>
<p>Marty Bauer</p>
<p><center><%= link_to "Back to Home", "#", class: "btn btn-danger btn-lg" %></center></p>