<h1>About this app</h1> 
<p>I am working on teaching myself Ruby on Rails.</p>
<p><BLOCKQUOTE><b>The Goal:</b> This is to teach myself Ruby on Rails by building a Pinterest clone and live web application by end of Day December 31, 2015</BLOCKQUOTE></p>
<p><BLOCKQUOTE><b>The Result:</b> Finished, woohoo! I'll continue adding some things along the way. But until then, this is a sandbox for pictures of my daughter and I.</BLOCKQUOTE></p>
<p>Y'all keep coming back to ckeck in on the progress. It will be slow, but steady for sure.</p>
<p>Cheers!</p>
<p>Marty</p>
<p><center><%= link_to "Back to Home", "#", class: "btn btn-danger btn-lg" %></center></p>