<h1>Welcome to my app!</h1>
<p>Sign up <%= link_to "here", "http://www.MartyBauer.com" %>.</p>
<p>I have a dream, that one day I will be able to build something that impresses Robert.</p>
<p>What is "it"? I dont know. But one day - it will happen.</p>
<p> Until then - PEACE CRACKA!</p>
