<div class="jumbotron">
	<h1><center> Welcome to my app!</center></h1>
	<p> <center><%= link_to "Log in", "http://www.MartyBauer.com", class: "btn btn-default btn-lg" %> <%= link_to "Sign Up", "http://www.amazon.com", class: "btn btn-danger btn-lg" %></center></p>
	<p> <center>- Marty</center></p>
</div>